.ContentLeft
  .LeftHeader
    .LeftHeader__name
      = current_user.name
      .LeftHeader__icon
        = link_to new_group_path do
          = fa_icon 'edit', class: "LeftHeader__editLink"
        = link_to edit_user_path(current_user), class: "LeftHeader__cogLink" do
          = fa_icon 'cog'
        
          
  .LeftBody
    .LeftBody__content
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .LeftBody__GroupName 
            = group.name
          .LeftBody__GroupMessage
            メッセージはまだありません
