.Contents
  = render partial: "side_bar"
    
  .ContentRight
    .RightHeader
      .RightHeader__leftBox
        .RightHeader__name
          = @group.name

        .RightHeader__member
          Member :
          - @group.group_users.each do |group_user|
            = group_user.user.name
          
      = link_to edit_group_path(@group), class: "EditBtn" do
        .RightHeader__editBtn
          Edit 
        
      
    .RightBody{"data-group-id":"#{@group.id}"}
      = render @messages
          

    .RightFooter
      .form
        = form_for [@group, @message] do |f|
          .form__left
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            = f.label :image, class: 'form__UploadLabel' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
            -# %label.form__UploadLabel{for: "upload-icon"}
            -#   %i.fa.fa-picture-o
            -#   %input{:type=>"file", :style=>"display:none", :id=>"upload-icon"}
          .form__right    
            = f.submit 'Send', class: 'form__submit'


      